body {
	background-color:#FFFFFF;
}

.logo{
	text-align: center;
	font-family:sofia;
	font-size: 80px;
	font-style: italic;
	background-image:url(images/logo_p.gif);
	background-repeat: no-repeat;
    	background-position: left top;
	padding-bottom: 82px;
	padding-top: 77px;
}

ul{
	padding: 5px;
	margin: 10px 0;
	display: inline-block;
	list-style-type: none;
}

ul li{
    	float: left;
	margin: 0 10px;
	display: inline;
}

ul li a{
	color: #FFFFFF;
	cursor: pointer;
	float: left;
	background-image:url(images/blue.png);
	background-repeat:no-repeat;
	background-position:top;
	background-position:right;
    	text-align: center;
    	text-decoration: none;
	font: 900 14px/22px "Arial", Helvetica, sans-serif;
}

ul li a span{
	margin: 0 10px 0 -10px;
	padding: 1px 8px 5px 18px;
	position: relative;
	background-image:url(images/blue.png);
	background-repeat:no-repeat;
	background-position:top;
	background-position:left;
	float:left;
}

ul.menu li a.current, ul.menu li a:hover {
	background: url(images/green.png) no-repeat top right;
 	color: #0d5f83;
}

ul.menu li a.current span, ul.menu li a:hover span {
	background: url(images/green.png) no-repeat top left;
}

.content {
    	border: #48f solid 3px;
    	clear: left;
    	padding: 1em;
}
